#presets_text{
    position:absolute;
    text-align:center;
    font-family:Raleway;
    top:670px;
    left:43%;
}
#pay1{
    position:absolute;
    overflow: hidden;
    top:800px;
    left:18%;
    width:233px;
}
#pay2{
    position:absolute;
    overflow: hidden;
    top:800px;
    left:42%;
    width:233px;
}
#pay3{
    position:absolute;
    overflow: hidden;
    top:800px;
    left:65%;
    width:233px;
}
#pay4{
    position:absolute;
    overflow: hidden;
    top:1300px;
    left:18%;
    width:233px;
}
#pay5{
    position:absolute;
    overflow: hidden;
    top:1300px;
    left:42%;
    width:233px;
}
#pay6{
    position:absolute;
    overflow: hidden;
    top:1300px;
    left:65%;
    width:233px;
}
.download_presets_button{
    width:300px;
    height:60px;
    font-family:Raleway;
    font-size:20px;
    font-weight:800;
    background-color:transparent;
    color:black;
    border: 3px solid black;
}
#pay1_button{
    position:absolute;
    top:1115px;
    left:18%;
    width:233px;
}
#pay2_button{
    position:absolute;
    top:1115px;
    left:42%;
    width:233px;
}
#pay3_button{
    position:absolute;
    top:1115px;
    left:65%;
    width:233px;
}
#pay4_button{
    position:absolute;
    overflow: hidden;
    top:1610px;
    left:18%;
    width:233px;
    margin-bottom:10px;
}
#pay5_button{
    position:absolute;
    overflow: hidden;
    top:1610px;
    left:42%;
    width:233px;
    margin-bottom:10px;
}
#pay6_button{
    position:absolute;
    overflow: hidden;
    top:1610px;
    left:65%;
    width:233px;
    margin-bottom:10px;
}