#logo{
    position:absolute;
    font-size:50px;
    top:20px;
    width:100%;
    text-align:center;
    font-family:Universe;
    font-weight:800;
}
#logo_picture{
    position:absolute;
    width:100%;
    top:100px;
}
.text{
    font-size:17px;
    padding: 10px;
    font-weight:600;
}
.headline{
    font-size:37px;
    padding: 10px;
    font-weight:800;
}
@font-face {
    font-family: 'Universe';
    src: url('../fonts/Universe.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:'Raleway';
    src:url('../fonts/Raleway-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}