{%extends "base.html"%}

{%block style%}
    {{super()}}
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/index_style.css')}}">
{%endblock%}

{%block body%}
    <div id = "flowers_compare" >
        <img src = "{{url_for('static', filename = 'images/flowers_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/flowers_after.jpg')}}" >
    </div>
    <script>
        $('#flowers_compare').twentytwenty();
    </script>

    <div id = "what_is_it">
        <div class = "headline" >ЧТО ТАКОЕ ПРЕСЕТ?</div>
        <div class = "text" >
            Пресет - простыми словами, обычный файл, содеражщий настройки.
            Вы можете скопировать эти настройки и применить их на своем фото.
            Эти настройки могут включать в себя экспозицию, яркость, изменние цвета и другие.
            Подвигайте ползунок и посмотрите как работает пресет.
        </div>
    </div>

    <div id = "mountains_compare" >
        <img src = "{{url_for('static', filename = 'images/mountains_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/mountains_after.jpg')}}" >
    </div>
    <script>
        $('#mountains_compare').twentytwenty();
    </script>
    <div id = "for_who">
        <div class = "headline" >ДЛЯ КОГО ЭТО?</div>
        <div class = "text" >
            Пресет - полезный инструмент не только для профессионалов, но и для новичков,
            которые ни разу в жизни не пользовались фоторедакторами. Для профессионалов это
            возможность ускорить работу и сократить время обработки в 3 раза. Для начинающих -
            возможность не заморачиватся над редактированием и получать хорошо отредактированное фото за секунду.
        </div>
    </div>

    <img src = "{{url_for('static', filename = 'images/clouds.jpg')}}" id = "clouds_picture">
    <div id = "blacky"></div>

    <div id = "is_it_easy">
        <div class = "headline" >ЭТО ДЕЙСТВИТЕЛЬНО ТАК ПРОСТО?</div>
        <div class = "text" >
            Да, применение пресета не составит и труда! Это займет всего 4 шага.
            Все, что вам для этого нужно - это скачать пресет, зайти в приложение lightroom,
            добавить пресет в приложение и применить к выбранному фото. В последствии Вам нужно будет
            лишь выбирать нужный пресет. Не переживайте, подробная инструкция прилагается в конце, а мы всегда с удовольствием
            поможем Вам : )
        </div>
    </div>
    <img src = "{{url_for('static', filename = 'images/icon_save.png')}}" id = "icon_save">
    <img src = "{{url_for('static', filename = 'images/icon_lightroom.png')}}" id = "icon_lightroom">
    <img src = "{{url_for('static', filename = 'images/icon_add.png')}}" id = "icon_add">
    <img src = "{{url_for('static', filename = 'images/icon_apply.png')}}" id = "icon_apply">

    <a href = "{{url_for('static', filename = 'images/lily.jpg')}}" download>
        <button id = "save_button">Скачать пресет</button>
    </a>
    <div id = "try_free">
        <div class = "headline" >А МОЖНО ПОЛУЧИТЬ БЕСПЛАТНЫЕ ПРЕСЕТЫ?</div>
        <div class = "text" >
            Конечно, мы хотим, чтобы все было по-честному. Для начала попробуйте наши пресеты и определитесь, нравятся они Вам или нет.
            Это Вас ни к чему не обязывает. Нажмите на кнопку скачивания слева, чтобы скачать несколько бесплатных пресетов, а
            дальше следуйте инструкции, описанной ниже.
        </div>
    </div>
<!--сравнение для бесплатных пресетов начало-->
<div id = "gallery">
    <div id = "twins_compare" >
        <img src = "{{url_for('static', filename = 'images/twins_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/twins_after.jpg')}}" >
    </div>
    <div id = "poly_compare" >
        <img src = "{{url_for('static', filename = 'images/poly_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/poly_after.jpg')}}" >
    </div>
    <div id = "girl_compare" >
        <img src = "{{url_for('static', filename = 'images/girl_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/girl_after.jpg')}}" >
    </div>
    <script>
        $('#twins_compare').twentytwenty();
        $('#poly_compare').twentytwenty();
        $('#girl_compare').twentytwenty();
    </script>
    <input type = "image" src = "{{url_for('static', filename = 'images/icon_next.png')}}" id = "next">
    <input type = "image" src = "{{url_for('static', filename = 'images/icon_back.png')}}" id = "back">
</div>
<!--сравнение для бесплатных пресетов конец-->
{%endblock%}

{%block script%}
{{super()}}
{%endblock%}