{%extends "base.html"%}

{%block style%}
    {{super()}}
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/presets_style.css')}}">
  <title>Lightfree</title>
{%endblock%}

{%block body%}
<div class = "headline" id = "presets_text">ПРЕСЕТЫ</div>
    <div id = "pay1"  >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay1_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay1_after.jpg')}}" >
    </div>
    <div id = "pay2" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay2_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay2_after.jpg')}}" >
    </div>
    <div id = "pay3" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay3_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay3_after.jpg')}}" >
    </div>
    <div id = "pay4"  >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay4_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay4_after.jpg')}}" >
    </div>
    <div id = "pay5" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay5_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay5_after.jpg')}}" >
    </div>
    <div id = "pay6" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay6_before.jpg')}}" >
        <img src = "{{url_for('static', filename = 'images/presets_pictures/pay6_after.jpg')}}" >
    </div>
    <script>
        $('#pay1').twentytwenty();
        $('#pay2').twentytwenty();
        $('#pay3').twentytwenty();
        $('#pay4').twentytwenty();
        $('#pay5').twentytwenty();
        $('#pay6').twentytwenty();
    </script>
{%endblock%}